<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Lab5</title>
</head>
<body>
  
</body>
</html>

<body>
  <header class="header">
    <h1>Лабораторна робота №5</h1>
    <h2>Виконала: Беженар Юлія, група КН-32</h2>
  </header>
  <main class="main">
    <div class="main_task">
      <h2>Завдання:</h2>
      <p>
        Необхідно написати проект на фремворку Angular, який
        визначає потрапляння крапки на координатній площині в задану область чи ні
        відповідно до варіанту завдань.
      </p>
      <div class="main_task_img"></div>
    </div>
    <app-point></app-point>

  </main>
</body>